In [1]:
## Data Analysis libraries
import pandas as pd
import numpy as np

## Data Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

## Series

In [2]:
li = [1, 'John', 35.5, "Smith"]
li

[1, 'John', 35.5, 'Smith']

In [3]:
type(li)

list

In [4]:
s = pd.Series(li)
s

0        1
1     John
2     35.5
3    Smith
dtype: object

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s[1]

'John'

In [7]:
s[3]

'Smith'

In [8]:
s.values

array([1, 'John', 35.5, 'Smith'], dtype=object)

In [10]:
ind = ['A', 'B', 'C', 'D']
ind

['A', 'B', 'C', 'D']

In [11]:
s1 = pd.Series(li, index = ind)
s1

A        1
B     John
C     35.5
D    Smith
dtype: object

In [14]:
s1['A']

1

In [15]:
s1['D']

'Smith'

### Series 
- One Dimensional object which has a default indexing starting from 0.

In [16]:
s

0        1
1     John
2     35.5
3    Smith
dtype: object

In [17]:
li

[1, 'John', 35.5, 'Smith']

In [18]:
ind

['A', 'B', 'C', 'D']

In [19]:
ind = ['A', 'B', 'C', 'D', 'E']
ind

['A', 'B', 'C', 'D', 'E']

In [20]:
s2 = pd.Series(li, index = ind)

ValueError: Length of values (4) does not match length of index (5)

In [21]:
ind = ['$', '#', '%', '&']
ind

['$', '#', '%', '&']

In [23]:
s3 = pd.Series(li, index = ind)
s3

$        1
#     John
%     35.5
&    Smith
dtype: object

### DataFrame

In [24]:
dic = {'name' : ['Anil', 'Sunil', 'Ashok', 'Seema', 'Reema'],
      'age' : [22, 24, 26, 28, 30], 
      'Salary': [25000, 35000, 45000, 55000, 65000],
      'Gender' : ['M', 'M', 'M', 'F', 'F']}
dic

{'name': ['Anil', 'Sunil', 'Ashok', 'Seema', 'Reema'],
 'age': [22, 24, 26, 28, 30],
 'Salary': [25000, 35000, 45000, 55000, 65000],
 'Gender': ['M', 'M', 'M', 'F', 'F']}

In [25]:
type(dic)

dict

In [26]:
df = pd.DataFrame(dic)
df

    name  age  Salary Gender
0   Anil   22   25000      M
1  Sunil   24   35000      M
2  Ashok   26   45000      M
3  Seema   28   55000      F
4  Reema   30   65000      F

### DataFrame

- 2 Dimensional Data Structure where data is present in form of rows and columns
- Rows will have default index starting from 0.
- Columns will also have default index starting from 0.

In [28]:
li

[1, 'John', 35.5, 'Smith']

In [30]:
df1 = pd.DataFrame(li)
df1

       0
0      1
1   John
2   35.5
3  Smith

#### DataFrame and Series connection

In [27]:
df['Salary']

0    25000
1    35000
2    45000
3    55000
4    65000
Name: Salary, dtype: int64

### Every individual column of a DataFrame is a always Series

In [33]:
df.iloc[4]

name      Reema
age          30
Salary    65000
Gender        F
Name: 4, dtype: object

### Every individual row of a DataFrame is always a Series

In [34]:
df

    name  age  Salary Gender
0   Anil   22   25000      M
1  Sunil   24   35000      M
2  Ashok   26   45000      M
3  Seema   28   55000      F
4  Reema   30   65000      F

In [35]:
df['age']

0    22
1    24
2    26
3    28
4    30
Name: age, dtype: int64

#### Series is the core of any DataFrame object

In [36]:
df

    name  age  Salary Gender
0   Anil   22   25000      M
1  Sunil   24   35000      M
2  Ashok   26   45000      M
3  Seema   28   55000      F
4  Reema   30   65000      F

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
data = pd.read_csv(r'H:\My Drive\DS31032023\Data Wrangling & Visualization\17-7-2023\sample data.csv')
data

    Anil  22  25000  M
0  Sunil  24  35000  M
1  Ashok  26  45000  M
2  Seema  28  55000  F
3  Reema  30  65000  F

In [39]:
data = pd.read_csv(r'H:\My Drive\DS31032023\Data Wrangling & Visualization\17-7-2023\titanicdata.csv')
data

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [40]:
!pip install jupyterthemes

import jupyterthemes
jupyterthemes.get_themes()

jupyterthemes.install_theme('onedork')

Requirement already satisfied: jupyterthemes in c:\users\amant\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied: ipython>=5.4.1 in c:\users\amant\anaconda3\lib\site-packages (from jupyterthemes) (8.12.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\amant\anaconda3\lib\site-packages (from jupyterthemes) (3.7.1)
Requirement already satisfied: notebook>=5.6.0 in c:\users\amant\anaconda3\lib\site-packages (from jupyterthemes) (6.5.3)
Requirement already satisfied: jupyter-core in c:\users\amant\anaconda3\lib\site-packages (from jupyterthemes) (5.3.0)
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\amant\anaconda3\lib\site-packages (from jupyterthemes) (0.15.1)
Requirement already satisfied: backcall in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: colorama in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.6)
Requirement already satisfied: stack-data in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.7.1)
Requirement already satisfied: jedi>=0.16 in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.36)
Requirement already satisfied: pickleshare in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: typing-extensions in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (4.4.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.6)
Requirement already satisfied: decorator in c:\users\amant\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: ply in c:\users\amant\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.0.5)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (23.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (5.2.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (9.4.0)
Requirement already satisfied: numpy>=1.20 in c:\users\amant\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.23.5)
Requirement already satisfied: tornado>=6.1 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.2)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (7.4.9)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: prometheus-client in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.14.1)
Requirement already satisfied: nbformat in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.7.0)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.6)
Requirement already satisfied: argon2-cffi in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (21.3.0)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.5.4)
Requirement already satisfied: terminado>=0.8.3 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.17.1)
Requirement already satisfied: nbconvert>=5 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.5.4)
Requirement already satisfied: ipython-genutils in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (3.1.2)
Requirement already satisfied: pyzmq>=17 in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (23.2.0)
Requirement already satisfied: ipykernel in c:\users\amant\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.19.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\amant\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (2.5.2)
Requirement already satisfied: pywin32>=300 in c:\users\amant\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (305.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\amant\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=1.4.3->jupyterthemes) (3.11.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\amant\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: entrypoints in c:\users\amant\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=5.6.0->jupyterthemes) (0.4)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\amant\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (1.23.4)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\amant\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (0.2.2)
Requirement already satisfied: bleach in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: defusedxml in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (2.1.1)
Requirement already satisfied: lxml in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (4.9.1)
Requirement already satisfied: tinycss2 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (1.2.1)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.5.13)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: beautifulsoup4 in c:\users\amant\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=5.6.0->jupyterthemes) (4.12.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\amant\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (4.17.3)
Requirement already satisfied: fastjsonschema in c:\users\amant\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\amant\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\amant\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->jupyterthemes) (1.16.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\amant\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (2.0.10)
Requirement already satisfied: argon2-cffi-bindings in c:\users\amant\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: psutil in c:\users\amant\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (5.9.0)
Requirement already satisfied: debugpy>=1.0 in c:\users\amant\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: comm>=0.1.1 in c:\users\amant\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: pure-eval in c:\users\amant\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.2.2)
Requirement already satisfied: asttokens in c:\users\amant\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (2.0.5)
Requirement already satisfied: executing in c:\users\amant\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\amant\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\amant\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (22.1.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\amant\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (3.5.0)
Requirement already satisfied: websocket-client in c:\users\amant\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (0.58.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\amant\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\amant\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=5.6.0->jupyterthemes) (2.4)
Requirement already satisfied: webencodings in c:\users\amant\anaconda3\lib\site-packages (from bleach->nbconvert>=5->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: idna>=2.8 in c:\users\amant\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\amant\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=5.6.0->jupyterthemes) (1.2.0)
Requirement already satisfied: pycparser in c:\users\amant\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.21)

Error processing line 3 of C:\Users\AMANT\anaconda3\lib\site-packages\googleapis_common_protos-1.56.4-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\AMANT\anaconda3\lib\site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 562, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored